* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.clr {
    clear: both;
}

/* common css ends */

.m-30 {
    margin: 0 30px;

}

.mb-40 {
    margin-bottom: 40px;
}

/* spacing css ends */

.header_bg {
    width: 100%;
    height: 50px;
    background: #262833;
    border-bottom: 1px solid #393a45;
}

.header_bg .header_content {
    width: 960px;
    height: 50px;
    margin: 0 auto;
}

.header_bg .header_content .header_contact {
    width: 700px;
    height: 50px;
    float: left;

}

.header_bg .header_content .header_contact p {
    color: #fff;
    line-height: 50px;
}

.header_bg .header_content .header_contact p span {
    margin-left: 50px;
}

.header_bg .header_content .header_contenttw {
    width: 260px;
    height: 50px;
    float: left;
    text-align: right;
}

.header_bg .header_content .header_contenttw span {
    color: #fff;
    line-height: 50px;
}

/* manu area start */

.menu_bg {
    width: 100%;
    height: 100px;
    background: #262833;
}

.menu_bg .manu-content {
    width: 960px;
    height: 100px;
    margin: 0 auto;

}

.menu_bg .manu-content .logo {
    width: 480px;
    height: 100px;
    float: left;
}

.menu_bg .manu-content .logo a img {
    padding-top: 20px;
}

.menu_bg .manu-content .menu-list {
    width: 480px;
    height: 100px;
    float: left;
}

.menu_bg .manu-content .menu-list ul li {
    float: left;
}

.menu_bg .manu-content .menu-list ul li a {
    color: aliceblue;
    text-transform: uppercase;
    line-height: 100px;
    padding: 0 15px;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.menu_bg .manu-content .menu-list ul li a:hover {
    color: #38f238;
}

.menu_bg .manu-content .menu-list ul {
    float: right;

}

/* manu area ends */


/* start sliders */

.slidsrs {
    width: 100%;
    height: 700px;
    background: url(../images/slider1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slidsrs .slider-head {
    width: 960px;
    height: 600px;
    margin: 0 auto;

}

.slidsrs .slider-head h4 {
    color: #19C133;
    font-size: 20px;
    margin: 200px 350px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 30px;
}

.slidsrs .slider-head .slider-prg h2 {
    color: #fff;
    font-size: 70px;
    margin: -175px 162px;
    text-transform: capitalize;
}

.slidsrs .slider-head .slider-prg h2 span {
    color: #fff;
    font-size: 70px;
    margin: 10px 94px;
    text-transform: capitalize;
    box-sizing: border-box;
    display: inline-block;
}

.slidsrs .lin-button {
    width: 200px;
    height: 50px;
    margin: -144px 46%;
    position: relative;

}

.slidsrs .lin-button a {
    color: #fff;
    background: #19C133;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 5px;
    position: absolute;
    text-transform: uppercase;




}



/* end sliders */
/* slider buttom start */

.slid-buttom {
    width: 100%;
    height: 250px;
    background: #1d2228;
    position: relative;
}

.slid-buttom .buttom-side {
    width: 960px;
    height: 250px;
    background: #2f2828;
    margin: 0 auto;

}

.slid-buttom .buttom-side .buttom-one {
    width: 320px;
    height: 250px;
    background: #262c33;
    float: left;
    position: relative;
}

.slid-buttom .buttom-side .buttom-one h4 {
    color: aliceblue;
    font-size: 20px;
    padding: 120px 60px;
    box-sizing: border-box;
    text-transform: capitalize;

}

.slid-buttom .buttom-side .buttom-one span {
    color: aliceblue;
    font-size: 12px;
    padding: 20px 25px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: capitalize;

}

.slid-buttom .buttom-side .buttom-two {
    width: 320px;
    height: 250px;
    background: #262c33;
    float: left;

}

.slid-buttom .buttom-side .buttom-two h4 {
    color: aliceblue;
    font-size: 20px;
    padding: 120px 60px;
    box-sizing: border-box;
    text-transform: capitalize;
}

.slid-buttom .buttom-side .buttom-two h4 span {
    color: aliceblue;
    font-size: 12px;
    padding: 20px 25px;
    box-sizing: border-box;
    display: inline-block;
    text-transform: capitalize;
}

.slid-buttom .buttom-side .buttom-three {
    width: 320px;
    height: 250px;
    background: #1d2228;
    float: left;
}

.slid-buttom .buttom-side .buttom-three span {
    color: aliceblue;
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
    margin: 60px 88px;
    text-transform: capitalize;


}

.slid-buttom .buttom-side .buttom-three h2 {
    color: #19c133;
    font-size: 30px;
    margin: -40px 66px;


}

.slid-buttom .buttom-side .buttom-three p {
    color: aliceblue;
    margin: 50px 70px;

}

.slid-buttom .round {
    width: 100px;
    height: 100px;
    background: #10d100;
    box-sizing: border-box;
    position: absolute;
    margin: -164px 59%;
    border-radius: 50%;
    border: 10px solid #275323;

}



/* slider buttom start */


/* stape two start */

.stape-two {
    width: 960px;
    height: 600px;
    margin: 100px auto;
    box-sizing: border-box;

}

.stape-two .image {
    width: 480px;
    height: 600px;
    background: #c4b6b6;
    float: left;

}

.stape-two .image img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.stape-two .content {
    width: 480px;
    height: 600px;
    float: left;
    box-sizing: border-box;
    /*    margin: 0 20px;*/


}

.stape-two .content span {
    color: #33c119;
    font-size: 25px;
    display: inline-block;
    margin: 50px 50px;

}

.stape-two .content h2 {
    color: #333;
    font-size: 44px;
    margin: 35px 45px;
    text-transform: capitalize;

}

.stape-two .content p {
    margin: 20px 40px;
    color: #333;

}

.stape-two .content a {
    /*
    width: 200px;
    height: 50px;
*/
    margin: 5% 8%;
    color: #fff;
    background: #19C133;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;

}


/* stape two ends */
/* stape three start */

.service-bg {
    width: 100%;
    height: 840px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.service-bg .service-content {
    width: 960px;
    height: 840px;
    margin: 0 auto;

}

.service-bg .service-content .service-heading {
    width: 960px;
    height: 200px;
    background: #f5f5f5;
    text-align: center;

}

.service-bg .service-content .service-heading p {
    text-transform: uppercase;
    color: #19C133;
    font-size: 20px;
    padding-top: 50px;
}

.service-bg .service-content .service-heading h2 {
    text-transform: capitalize;
    font-size: 40px;
    padding-top: 10px;
}

.service-bg .service-content .service-item-cotent {
    width: 960px;
    height: 640px;
    text-align: center;
}

.service-bg .service-content .service-item-cotent .service-item {
    width: 300px;
    height: 300px;
    background: #f5f5f5;
    float: left;
    position: relative;
}

.service-bg .service-content .service-item-cotent .service-item .icon {
    width: 50px;
    height: 50px;
    background: #19C133;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 125px;

}

.service-bg .service-content .service-item-cotent .service-item a {
    font-size: 25px;
    color: #000;
    text-transform: capitalize;
    display: inline-block;
    padding-top: 150px;

}

.service-bg .service-content .service-item-cotent .service-item p {
    color: #2f2929;
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}





/* stape three ends */
/* stimate css starts */
.estimate-bg {
    width: 100%;
    height: 700px;
    background: url(../images/video_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.estimate-bg .estimate-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 244, 47, 0.5);
}

.estimate-bg .estimate-overlay .estimate-content {
    width: 960px;
    height: 700px;
    margin: 0 auto;

}

.estimate-bg .estimate-overlay .estimate-content .estimate-header {
    width: 960px;
    height: 200px;
    text-align: center;
}

.estimate-bg .estimate-overlay .estimate-content .estimate-header p {
    color: #fff;
    text-transform: uppercase;
    fot-size: 10px;
    padding-top: 50px;
}

.estimate-bg .estimate-overlay .estimate-content .estimate-header h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
    padding-top: 10px;


}

.estimate-bg .estimate-overlay .estimate-content .form-content {
    width: 960px;
    height: 500px;
    box-sizing: border-box;
}

.estimate-bg .estimate-overlay .estimate-content .form-content input {
    width: 200px;
    height: 50px;
    background: rgba(0, 244, 47, 0);
    margin-top: 35px;
    margin-left: 100px;
    border: 2px solid #e6d8d8;
    display: inline-block;

}

.estimate-bg .estimate-overlay .estimate-content .form-content select {
    width: 200px;
    height: 50px;
    background: rgba(0, 244, 47, 0);
    margin-left: 97px;
    border: 2px solid #e6d8d8;
    display: inline-block;
}

.estimate-bg .estimate-overlay .estimate-content .form-content textarea {
    width: 243px;
    height: 170px;
    background: rgba(0, 244, 47, 0);
    margin-left: 94px;
    margin-top: -61px;
    border: 2px solid #e6d8d8;
    display: inline-block;
}

.estimate-bg .estimate-overlay .estimate-content .form-content button {
    width: 200px;
    height: 50px;
    color: #fff;
    background: #19C133;
    margin-left: 405px;
    margin-top: 110px;
    display: inline-block;


}

/* stimate css ends */
/* project detail css start */
.detail-bg {
    width: 100%;
    height: 500px;
    margin-top: 100px;

}

.detail-bg .detail-content {
    width: 960px;
    height: 500px;
    margin: 0 auto;
    text-align: center;

}

.detail-bg .detail-content .detail-img {
    width: 480px;
    height: 500px;
    background: url(../images/before.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.detail-bg .detail-content .detail-row {
    width: 480px;
    height: 500px;
    float: left;
}

.detail-bg .detail-content .detail-row1 {
    width: 220px;
    height: 230px;
    background: #f5f5f5;
    margin: 0 10px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.detail-bg .detail-content .detail-row2 {
    width: 220px;
    height: 230px;
    background: #f5f5f5;
    margin: 0 10px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.detail-bg .detail-content .detail-row3 {
    width: 220px;
    height: 230px;
    background: #f5f5f5;
    margin: 20px 10px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.detail-bg .detail-content .detail-row4 {
    width: 220px;
    height: 230px;
    background: #f5f5f5;
    margin: 20px 10px;
    float: left;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.detail-bg .detail-content .detail-row1 h3 {
    font-size: 45px;
    margin-top: 80px;
    color: #242424;

}

.detail-bg .detail-content .detail-row1 p {
    font-size: 20px;
    color: #363636;
}

.detail-bg .detail-content .detail-row2 h3 {
    font-size: 45px;
    margin-top: 80px;
    color: #242424;
}

.detail-bg .detail-content .detail-row3 h3 {
    font-size: 45px;
    margin-top: 80px;
    color: #242424;
}

.detail-bg .detail-content .detail-row4 h3 {
    font-size: 45px;
    margin-top: 80px;
    color: #242424;
}

.detail-bg .detail-content .detail-row2 p {
    font-size: 20px;
    color: #363636;
}

.detail-bg .detail-content .detail-row3 p {
    font-size: 20px;
    color: #363636;
}

.detail-bg .detail-content .detail-row4 p {
    font-size: 20px;
    color: #363636;
}

/* project detail css ends */
/* our last work css start */
.lastwork-bg {
    width: 100%;
    height: 800px;
    background: #242424;
    margin-top: 100px;
}

.lastwork-bg .lastwork-content {
    width: 960px;
    height: 800px;
    margin: 0 auto;
}

.lastwork-bg .lastwork-content h4 {
    color: #19C133;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 100px;
    display: inline-block;

}

.lastwork-bg .lastwork-content h2 {
    color: aliceblue;
    font-size: 60px;
    text-transform: capitalize;
    margin-top: 20px;

}

.lastwork-bg .lastwork-content .img1 {
    width: 280px;
    height: 400px;
    background: #03bcbc;
    margin-top: 40px;
    float: left;

}

.lastwork-bg .lastwork-content .img2 {
    width: 340px;
    height: 400px;
    background: #840808;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
    position: relative;

}

.lastwork-bg .lastwork-content .img2 .img-content {
    width: 250px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 45px;
}

.lastwork-bg .lastwork-content .img2 .img-content p {
    color: #fff;
    font-size: 25px;
    line-height: 100px;
    text-transform: capitalize;
    text-align: center;
}

.lastwork-bg .lastwork-content .img3 {
    width: 280px;
    height: 400px;
    background: #03bcbc;
    margin-top: 40px;
    float: left;
}

.lastwork-bg .lastwork-content .img1 {
    background: url(../images/work-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lastwork-bg .lastwork-content .img2 {
    background: url(../images/work-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lastwork-bg .lastwork-content .img3 {
    background: url(../images/work-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* our last work css ends*/
/* client comment css start */
.client-bg {
    width: 100%;
    height: 800px;
    background: #fffefe;
    background: #ffffff;
}

.client-bg .client-content {
    width: 960px;
    height: 800px;
    margin: 0 auto;
    text-align: center;

}

.client-bg .client-content h4 {
    color: #19C133;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 100px;
}

.client-bg .client-content h2 {
    color: #000;
    font-size: 60px;
    text-transform: capitalize;
    padding-top: 10px;
}

.client-bg .client-content .comment1 {
    width: 310px;
    height: 400px;
    background: #e2e2e2;
    margin-top: 70px;
    float: left;
    position: relative;

}

.client-bg .client-content .comment1 p {
    color: #363636;
    margin: 165px 10px;
    display: inline-block;
}

.client-bg .client-content .comment1 .img {
    width: 60px;
    height: 60px;
    background: url(../images/testimonial4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    position: relative;
    margin: -120px 25px;
}

.client-bg .client-content .comment1 .icon {
    width: 50px;
    height: 50px;
    background: #19C133;
    border-radius: 50%;
    position: absolute;
    margin: 166px 85px;
    display: inline-block;

}

.client-bg .client-content .comment2 {
    width: 290px;
    height: 400px;
    background: #e2e2e2;
    margin-top: 70px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;

}

.client-bg .client-content .comment2 p {
    color: #363636;
    margin: 165px 10px;
    display: inline-block;
}

.client-bg .client-content .comment2 .img {
    width: 60px;
    height: 60px;
    background: url(../images/testimonial4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    position: relative;
    margin: -136px 25px;
}

.client-bg .client-content .comment2 .icon {
    width: 50px;
    height: 50px;
    background: #19C133;
    border-radius: 50%;
    position: absolute;
    margin: 179px 75px;
    display: inline-block;

}

.client-bg .client-content .comment3 {
    width: 310px;
    height: 400px;
    background: #e2e2e2;
    margin-top: 70px;
    float: left;

}

.client-bg .client-content .comment3 p {
    color: #363636;
    margin: 165px 10px;
    display: inline-block;
}

.client-bg .client-content .comment3 .img {
    width: 60px;
    height: 60px;
    background: url(../images/testimonial4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    position: relative;
    margin: -120px 25px;
}

.client-bg .client-content .comment3 .icon {
    width: 50px;
    height: 50px;
    background: #19C133;
    border-radius: 50%;
    position: absolute;
    margin: 166px 85px;
    display: inline-block;

}

/* client comment css ends*/
/* latest news css start */
.news-bg {
    width: 100%;
    height: 750px;
    background: #f8f9fa;
}

.news-bg .news-content {
    width: 960px;
    height: 750px;
    margin: 0 auto;
}

.news-bg .news-content .header-content {
    width: 960px;
    height: 250px;
    text-align: center;
}

.news-bg .news-content .header-content h4 {
    color: #19C133;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 100px;
}

.news-bg .news-content .header-content h2 {
    color: #242424;
    font-size: 60px;
    text-transform: capitalize;
    margin-top: 10px;
}

.news-bg .news-content .main-row {
    width: 960px;
    height: 400px;
}

.news-bg .news-content .main-row .row-one {
    width: 315px;
    height: 400px;
    background: url(../images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 5px;
}

.news-bg .news-content .main-row .row-one span {
    color: #fff;
    font-size: 22px;
    margin-top: 295px;
    margin-left: 10px;
    display: inline-block;
}

.news-bg .news-content .main-row .row-one span:hover {
    color: #38f238;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.news-bg .news-content .main-row .row-one ul li {
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;

}

.news-bg .news-content .main-row .row-two {
    width: 290px;
    height: 400px;
    background: url(../images/blog2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    margin-left: 15px;
    margin-right: 15px;

}

.news-bg .news-content .main-row .row-two span {
    color: #fff;
    font-size: 22px;
    margin-top: 295px;
    margin-left: 10px;
    display: inline-block;
}

.news-bg .news-content .main-row .row-two ul li {
    display: inline-block;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;
}

.news-bg .news-content .main-row .row-two span:hover {
    color: #38f238;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.news-bg .news-content .main-row .row-three {
    width: 315px;
    height: 400px;
    float: left;
    margin-left: 5px;
}

.news-bg .news-content .main-row .row-three .row1 {
    width: 315px;
    height: 122px;
    float: left;
    margin-bottom: 10px;
}

.news-bg .news-content .main-row .row-three .row1 .img1 {
    width: 100px;
    height: 100%;
    background: url(../images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: left;
}

.news-bg .news-content .main-row .row-three .row1 .content1 {
    width: 315px;
    height: 100%;
}

.news-bg .news-content .main-row .row-three .row1 .content1 h2 {
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-left: 108px;

}

.news-bg .news-content .main-row .row-three .row1 .content1 h2:hover {
    color: #38f238;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.news-bg .news-content .main-row .row-three .row1 .content1 ul li {
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}

.news-bg .news-content .main-row .row-three .row2 {
    width: 315px;
    height: 122px;
    float: left;
    margin-bottom: 10px;
}

.news-bg .news-content .main-row .row-three .row2 .img2 {
    width: 100px;
    height: 100%;
    background: url(../images/blog2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    display: inline-block;
}

.news-bg .news-content .main-row .row-three .row2 .content2 {
    width: 315px;
    height: 100%;
}

.news-bg .news-content .main-row .row-three .row2 .content2 h2 {
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-left: 108px;

}

.news-bg .news-content .main-row .row-three .row2 .content2 h2:hover {
    color: #38f238;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.news-bg .news-content .main-row .row-three .row2 .content2 ul li {
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}

.news-bg .news-content .main-row .row-three .row3 {
    width: 315px;
    height: 136px;
    float: left;
    margin-top: 10px;
}

.news-bg .news-content .main-row .row-three .row3 .img3 {
    width: 100px;
    height: 100%;
    background: url(../images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    display: inline-block;
}

.news-bg .news-content .main-row .row-three .row3 .content3 {
    width: 315px;
    height: 100%;
}

.news-bg .news-content .main-row .row-three .row3 .content3 h2 {
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 20px;
    padding-left: 108px;

}

.news-bg .news-content .main-row .row-three .row3 .content3 h2:hover {
    color: #38f238;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.news-bg .news-content .main-row .row-three .row3 .content3 ul li {
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}


/* latest news css ends */
/*  footer header css start  */
.footer-bg {
    width: 100%;
    height: 700px;
    background: #242424;
}
.footer-bg .footer-content {
    width: 960px;
    height: 700px;
    margin: 0 auto;
}
.footer-bg .footer-content .header-content {
    width: 960px;
    height: 200px;
    background: url(../images/cta_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer-bg .footer-content .header-content .content {
    width: 700px;
    height: 100%;
    float: left;
    
}
.footer-bg .footer-content .header-content .content h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 200px;
    padding-left: 10px;
    
}
.footer-bg .footer-content .header-content .link {
    width: 260px;
    height: 100%;
    float: left;
}
.footer-bg .footer-content .header-content .link a {
    width: 300px;
    height: 200px;
    color: #fff;
    text-transform: capitalize;
    background: #19C133;
    line-height: 200px;
    padding: 10px 20px;
    border: 2px solid #19C133;
    border-radius: 5px;
    margin-left: 60px;
}
.footer-bg .footer-content .footer-colm1 {
    width: 240px;
    height: 400px;
    float: left;
}
.footer-bg .footer-content .footer-colm1 .img-logo {
    width: 240px;
    height: 100px;
}
.footer-bg .footer-content .footer-colm1 .img-logo img {
    margin-top: 50px;
    margin-bottom: 10px;
    
}.footer-bg .footer-content .footer-colm1 p {
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 5px;
}
.footer-bg .footer-content .footer-colm2 {
    width: 240px;
    height: 400px;
    float: left;
}
.footer-bg .footer-content .footer-colm2 h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    margin: 50px 5px;
    
    
}
.footer-bg .footer-content .footer-colm2 ul li a {
    color: aliceblue;
    text-transform: capitalize;
    margin: 10px 10px;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}
.footer-bg .footer-content .footer-colm2 ul li {
    margin-top: 10px;
}
.footer-bg .footer-content .footer-colm2 ul li a:hover {
    color: #19C133;
}
.footer-bg .footer-content .footer-colm3 {
    width: 240px;
    height: 400px;
    float: left;
}
.footer-bg .footer-content .footer-colm3 .content-colm {
    width: 100%;
    height: 133px;
    float: left;
}
.footer-bg .footer-content .footer-colm3 .content-colm h2{
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 5px;
}
.footer-bg .footer-content .footer-colm3 .content-colm1 {
    width: 100%;
    height: 128px;
    float: left;
    margin-bottom: 5px;
}
.footer-bg .footer-content .footer-colm3 .content-colm1 .img {
    width: 88px;
    height: 80px;
    background: url(../images/blog1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 24px;
    margin-left: 5px;
}
.footer-bg .footer-content .footer-colm3 .content-colm1 .content-div {
    width: 140px;
    height: 128px;
    float: left;
    margin: -104px 100px;
}

.footer-bg .footer-content .footer-colm3 .content-colm1 .content-div span {
    color: #fff;
    padding-top: 20px;
    
}
.footer-bg .footer-content .footer-colm3 .content-colm2 {
    width: 100%;
    height: 130px;
    float: left;
    margin-top: 5px;
}
.footer-bg .footer-content .footer-colm3 .content-colm2 .img2 {
    width: 88px;
    height: 80px;
    background: url(../images/blog2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 24px;
    margin-left: 5px;
}
.footer-bg .footer-content .footer-colm3 .content-colm2 .content-div1 {
    width: 140px;
    height: 128px;
    float: left;
    margin: -104px 100px;
    box-sizing: border-box;
}
.footer-bg .footer-content .footer-colm3 .content-colm2 .content-div1 span {
    color: #fff;
    padding-top: 20px;
    text-transform: capitalize;
}
.footer-bg .footer-content .footer-colm4 {
    width: 240px;
    height: 400px;
    float: left;
}
.footer-bg .footer-content .footer-colm4 h2 {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 5px; 
}
.footer-bg .footer-content .footer-colm4 p {
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 5px;
}
.footer-bg .footer-content .footer-colm4 form input {
    width: 200px;
    height: 50px;
    margin: 20px 5px;
    border-radius: 5px;
}
.footer-bg .footer-content .footer-colm4 .link {
    width: 200px;
    height: 50px;
    background: #19C133;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    
}
.footer-bg .footer-content .footer-colm4 .link a {
    color: #fff;
}

/*  footer header css ends*/



















